* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --font-primary: "Roboto", sans-serif;

  --primary-color: rgb(227, 243, 29);
  --secondary-color: rgb(5, 21, 62);
  --tertiary-color: white;
}

.darkMode {
  --primary-color: rgb(5, 21, 62);
  --secondary-color: rgb(227, 243, 29);
  --tertiary-color: black;
}

.hide {
  display: none;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  display: grid;
  place-items: center;
  grid-template-rows: max-content 1fr;
  background-color: var(--primary-color);
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.visualModes {
  height: min-content;
  margin-top: 2rem;
  cursor: pointer;
}

.visualModes ion-icon,
.visualModes svg {
  width: 4rem;
  height: 4rem;
}

.moon path {
  color: white;
}

.rectangle {
  position: absolute;
  z-index: -1;
  width: 20rem;
  height: 2rem;
  background-color: white;
}

.top {
  top: 10%;
  left: 10%;
  animation: slide 20s ease-in-out infinite;
}

.middle {
  top: 50%;
  right: 10%;
  background-color: var(--secondary-color);
  animation: slide 8s ease-in-out reverse infinite;
}

.bottom {
  top: 83%;
  left: 25%;
  animation: slide 13s ease-in-out infinite;
}

.screen {
  display: grid;
  place-items: center;
  justify-self: s;
  align-self: start;
  margin: 0 auto 2rem;
}

.screen2 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
}

.screen2.open {
  visibility: visible;
  opacity: 1;
}

.screen2 ion-icon {
  position: absolute;
}

.message {
  background-color: white;
  color: black;
  position: relative;
  z-index: 2;
  font-size: 3rem;
  max-width: 30rem;
  text-align: center;
  padding: 3rem;
  border-radius: 3rem;
}

.message ion-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.logo svg {
  width: 30rem;
  height: max-content;
}

.logo svg path {
  fill: var(--secondary-color);
}

form {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25),
    0px 188px 52px rgba(0, 0, 0, 0.01), 0px 120px 48px rgba(0, 0, 0, 0.04),
    0px 68px 41px rgba(0, 0, 0, 0.15), 0px 30px 30px rgba(0, 0, 0, 0.26),
    0px 8px 17px rgba(0, 0, 0, 0.29), inset 0px 6px 8px rgba(255, 255, 255, 0.1),
    inset 0px -4px 5px rgba(0, 0, 0, 0.22);
  position: relative;
  width: clamp(20rem, 2rem + 80vw, 40rem);
}

h1 {
  text-align: center;
  font-size: 2.4rem;
  margin: 0 0 2rem;
  color: rgb(5, 21, 62);
}

fieldset {
  border: none;
  display: grid;
  gap: 0.8rem;
}

.inputWrapper {
  display: grid;
}

.line {
  opacity: 0;
  border: 1px solid rgb(5, 21, 62);
  width: 4.6rem;
  margin-bottom: 0.4rem;
}

.slide {
  animation: moveToRight 0.5s ease-in-out forwards;
}

.slideReverse {
  animation: moveToLeft 0.5s ease-in-out forwards;
}

.inputBox {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  border: 1px solid rgb(5, 21, 62);
  border-radius: 0.8rem;
  height: 3rem;
  padding: 0.8rem;
}

.inputBox input {
  border: none;
  width: 100%;
  padding: 0.3rem 2rem 0.3rem 0.3rem;
}

.inputBox input:focus {
  outline: 0.1rem solid rgba(0, 0, 0, 0.4);
  border-radius: 0 0.2rem 0.2rem 0;
}

.eye {
  position: absolute;
  right: 0.8rem;
  cursor: pointer;
}

button {
  background-color: var(--secondary-color);
  border: none;
  color: var(--tertiary-color);
  font-weight: 700;
  padding: 1.6rem;
  cursor: pointer;
  border-radius: 1.5rem;
  transition: transform 0.5s;
  margin-top: 20px;
}

button:is(:hover, :focus) {
  transform: scale(1.05);
  outline: 2px solid var(--primary-color);
}

.extraInfo {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

.extraInfo a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(5, 21, 62);
}

.checkBox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.checkBox label {
  font-size: 1rem;
  color: rgb(5, 21, 62);
}

.checkBox label::before {
  position: absolute;
  content: "";
  top: 4%;
  left: 1%;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(5, 21, 62);
  border-radius: 0.2rem;
  background-color: transparent;
}

.checkBox input {
  opacity: 0;
}

.checkBox label:is(::before, :hover) {
  cursor: pointer;
}

.checkBox input:checked + label::before {
  background-color: rgb(5, 21, 62);
}

.checkBox input:focus + label::before {
  outline: 2px solid rgb(5, 21, 62);
  border-radius: 0.2rem;
}

.divider {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.straightLine {
  border: 1px solid rgb(5, 21, 62);
  width: 40%;
}

.divider img {
  border-radius: 50%;
  border: 0.1px solid rgb(5, 21, 62);
  width: 2rem;
  height: 2rem;
}

footer {
  margin-top: 2rem;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

footer a img {
  width: 2rem;
  height: 2rem;
}

@keyframes moveToRight {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }

  100% {
    transform: translateX(-20px);
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(200%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
